/* color palette from <https://github.com/vuejs/theme> */
@import "tailwindcss";

@import "tailwindcss";

@theme {
  --color-orange: #b2653b;
  --color-green:#5c7f71;
  --color-darkred: #802520;
  --color-yellow: #ba8530;
  --color-dark: #181818;
  --color-grey: #202020;
  --color-theme: #f5eddc;
  --font-display: "Futura";
  --color-light: rgb(245,245,245);
  --animate-circle: circle 0.75s linear infinite;
  
}